body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #86d5ff;
  color: #333;
}
img{
float: left;
object-fit: cover;
  border-radius: 100px;
  border: 10px;
}
header {
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
  }
  text-align: center;
  background-image: url('image/AdobeStock_282446155_Preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  width:100%;
  height: 700px;
  color: white;
}

.icons a{
 color: #ffffff;
 text-decoration: none;
 transition: color 0.3s;
  font-size: 30px;
  text-shadow: 10px #040404;
  margin: 0 20px;
  
}
nav a {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 20px;
  color: #ffffff;
  margin: 0 70px;
  width: 100%;
  text-decoration: none;
 
}
.project a{
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  
}
